.education {
    padding: 60px 20px;
    background-color: #1c1c1c; 
    color: #ffffff;
  }
  
  .education-title {
  text-align: left;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #0A3981;
  }
  
  .education-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .education-item {
    display: flex;
    align-items: center;
    background-color: #0B192C;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .education-icon {
    font-size: 40px;
    color: #0A3981;
    margin-right: 20px;
  }
  
  .education-content {
    display: flex;
    flex-direction: column;
  }
  
  .education-year {
    font-size: 14px;
    color: #7EC8FF;
    margin-bottom: 5px;
  }
  
  .education-degree {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .education-institution {
    font-size: 16px;
    color: #ddd;
  }
  